<div class="col-lg-6">
  <div class="card mb-3">
    <div class="card-body">
      <h2><%= post.title %></h2>
      <%= link_to "Read more", post_path(post), class: "btn btn-link" %>
    </div>
  </div>
</div>
