<div class="container pt-4">
  <h1>Posts</h1>
  <div class="row">
    <%#= render @posts %>
    <%#= render partial: "posts/post", collection: @posts, as: :post %>
    <% @posts.each do |singe_post| %>
      <%= render "posts/post", post: singe_post %>
    <% end %>
  </div>
  <hr>
  <%= link_to "New Post", new_post_path, class: "btn btn-primary" %>
</div>
