<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>

<h1>Posts</h1>

<% local = 1 %>
<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post #{local}", post %>
    </p>
    <% local += 1 %>
 <% end %>

</div>

<%= link_to "New post", new_post_path %>
